PUBLIC_BASE_URL=https://credentials.voiceaispace.com
IDENTITY_HMAC_SECRET=
OB3_PRIVATE_KEY=
OB3_PUBLIC_JWK=
OB3_KEY_ID=vas-ob3-2026-01
ISSUANCE_ENABLED=false
ASSESSMENT_ENABLED=true
PRACTICE_MODE=true
DEPLOYMENT_STAGE=beta
ADMIN_EMAILS=
QUESTION_BANK_IMPORT_SECRET=
